*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(lago3.jpg);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.container {
    background: rgb(0, 0, 0, 0.1);
    width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 16px;
    text-align: center;
    border: solid 5px rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
}

.login-title{
    margin-bottom: 16px;
}

.input-box input {
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: rgb(255, 255, 255, 0.1);
    outline: none;
    caret-color: white;
    color: white;
    font-weight: 500;
    transition: 0.25s;
}

.input-box input:focus {
    border: solid 3px rgb(255, 255, 255, 00.25s);
}

.input-box input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: rgb(255, 255, 255, 0.75);
    font-size: 18px;
    transition: 0.25s;
}

.input-box input:focus + i {
    color: white;
}

.remember-forgot-box h5 {
    font-weight: normal;
}

.remember-me {
    font-weight: normal;
}

.remember-me {
    display: flex;
    gap: 8px;
}

.forgot-password {
    color: white;
    text-decoration: none;
}

.ligin-button {
    width: 100%;
    margin-top: 24px;
    padding: 10px 0;
    background: #32CDD5;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.1s;
}

.login-button:focus {
    outline: #32cdd58a 3px solid;
}

.dont-have-an-account {
    font-weight: normal;
    margin-top: 12px;
}

.dont-have-an-account a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

main {
    padding: 50px 20px;
}

.page {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.page.active {
    display: block;
    opacity: 1;
}

.upload-image {
    margin-top: 20px;
}

#registration-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
